body {
  overflow: hidden;
}

.box {
  width: 100px;
  height: 100px;
  background: #000;
  background-size: contain;
  position: absolute;
  bottom: -10%;
  transform: translate(-50%, 50%);
  animation: rise 5s ease-in infinite;
}

.main {
   width: 800px;
   height: 600px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background: red;
}

.main img {
   position: relative;
   left: 50%;
   transform: translate(-50%);
}

h1 {
   text-align: center;
   font-size: 64px;
   font-family: 'Pacifico', cursive;
}

@keyframes rise {
  0% {opacity: 0; bottom: -10%;}
  5% {opacity: .8;}
  80% {opacity: .8;}
  100% {opacity: 0; bottom: 110%;}
}
