body {
  overflow: hidden;
  background: #1e5878;
}

.box {
  background: #000;
  background-size: contain;
  position: absolute;
  bottom: -10%;
  opacity: 0;
  z-index: -2;
  transform: translate(-50%, 50%);
  animation: rise 5s linear infinite;
}

.main {
   width: 400px;
   height: 600px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   perspective: 1000px;
   transition: transform 500ms ease-in-out;
   cursor: pointer;
}

.card {
   width: 400px;
   height: 600px;
   position: absolute;
   left: 50%;
   transform-origin: left center;
   transform: translate(-50%) rotateY(0deg);
   transition: transform 500ms linear;
   background: linear-gradient(#fff8d655,#fff8d655), url("img/paper.png"), linear-gradient(#fff8d6,#fff8d6);
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
}

.card2 {
   width: 397px;
   height: 600px;
   position: absolute;
   left: 50%;
   transform-origin: left center;
   transform: translate(-50%) translateZ(-0.01px) rotateY(0deg);
   transition: transform 500ms linear;
   background: linear-gradient(#fff8d655,#fff8d655), url("img/paper.png"), linear-gradient(#fff8d6,#fff8d6);
   border-left: 3px solid #e9e4bc;
}

.card img {
   position: relative;
   left: 50%;
   transform: translate(-50%);
   height: 300px;
   bottom: 20px;
}

.main.opened .card {
   transform: translate(-50%) rotateY(-180deg);
}

.main.opened .card2 {
   transform: translate(-50%) translateZ(-0.01px) rotateY(-180deg);
}

.opened {
   transform: translate(calc(-50% + 200px), -50%);
   cursor: default;
}

.cardback {
   width: 350px;
   height: 550px;
   padding: 25px;
   position: absolute;
   left: 50%;
   background: linear-gradient(#fff8d655,#fff8d655), url("img/paper.png"), linear-gradient(#fff8d6,#fff8d6);
   transform: translate(-50%);
}

.card2 img {
   width: 350px;
   position: relative;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%) scaleX(-1);
}

.sign {
   position: absolute;
   bottom: 25px;
   right: 50px;
}

h1 {
   text-align: center;
   font-size: 64px;
   font-family: 'Pacifico', cursive;
   color: #0b00a3;
}

p {
   font-family: 'Allura', cursive;
   font-size: 28px;
}

@keyframes rise {
  0% {opacity: 0; bottom: -10%;}
  5% {opacity: 1;}
  80% {opacity: 1;}
  100% {opacity: 0; bottom: 110%;}
}
